:root {
  font-size: 16px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.loginContainer h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  color: #343434;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 25rem;
  padding: 2rem;
}

.inputContainer {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  pointer-events: none;
  z-index: 1;
}

.inputField {
  padding: 0.8rem 0.8rem 0.8rem 2.5rem;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border: 1.38px solid #d0d0d0;
  border-radius: 11.03px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.625rem;
}

.showIcon {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: auto;
  cursor: pointer;
  z-index: 1;
}

.button {
  padding: 0.8rem;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 55px;
  width: 100%;
  margin-top: 1.2rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.button:hover {
  background-color: #138496;
}

.loader {
  border: 0.125rem solid #f3f3f3;
  border-top: 0.125rem solid #17a2b8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  font-family: "Open Sans", sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.registerText {
  color: #828282;
  font-size: 1rem;
  font-weight: 400;
}

.registerLink {
  padding: 0.8rem;
  background-color: #fff;
  color: #17a2b8;
  border: 1px solid #17a2b8;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 55px;
  width: 340px;
  margin-top: 1.2rem;
  text-align: center;
  text-decoration: none;
}
