.boardContainer {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  height: 100vh;
  width: calc(100% - 11.25rem);
  margin-left: 11.25rem;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.header h1 {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}

.header p {
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}

.boardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.boardHeaderLeft {
  display: flex;
  align-items: center;
}

.boardHeaderLeft h2 {
  font-size: 24px;
  font-weight: 500;
  margin-right: 20px;
}

.peopleIcon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.addPeopleButton {
  color: #000;
  border: none;
  background: none;
  cursor: pointer;
}

.timeFilter {
  padding: 5px 10px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.timeFilter option {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 2px 22px 0px #7e7a7a40;
  padding: 5px;
  cursor: pointer;
  border-radius: 12px;
}

.columnsWrapper {
  flex-grow: 1;
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

.columns {
  display: flex;
  height: 100%;
  gap: 10px;
}

.column {
  flex: 0 0 360px;
  background-color: #eef2f5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.column h3 {
  font-size: 16px;
  font-weight: 500;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.taskHeader img {
  cursor: pointer;
}

.plusIcon {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  opacity: 0.5;
}

.plusIcon:hover {
  opacity: 1;
}

.collapseAllIcon {
  opacity: 0.5;
}

.collapseAllIcon:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #9cb7c5;
  border-radius: 10px;
}

.taskCard {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 12px;
  margin-bottom: 14px;
  width: auto;
  height: auto;
}

.priorityContainer {
  display: flex;
  align-items: center;
}

.priorityIndicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.priorityLabel {
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-size: 12px;
  font-weight: 500;
}

.low {
  background-color: #63c05b;
}
.moderate {
  background-color: #18b0ff;
}
.high {
  background-color: #ff2473;
}

.assigneeAvatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ffebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #000;
  margin-left: 10px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.moreIcon {
  cursor: pointer;
}

.taskMenu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 2px 22px 0px #7e7a7a40;
  width: 100px;
  height: 120px;
  border-radius: 12px;
  z-index: 1;
}

.taskMenu p {
  margin: 0;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.taskMenu p:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.delete {
  color: #cf3636;
}

.taskCard h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskChecklistContainer {
  margin-top: 20px;
  margin-bottom: 30px;
}

.taskChecklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskChecklist p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.downArrow {
  background-color: #eeecec;
  border-radius: 3.2px;
  cursor: pointer;
  border: 5px solid #eeecec;
  transition: transform 0.3s ease;
}

.downArrow.rotated {
  transform: rotate(180deg);
}

.subtaskItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 8px;
  margin-top: 10px;
}

.subtaskCheckbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
}

.subtaskCheckbox:checked {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.subtaskCheckbox:checked::after {
  content: "\2714";
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtaskText {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.taskFooter {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #5a5a5a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dueDate {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #767575;
  border-radius: 8px;
  background-color: #eeecec;
  padding: 5px 10px;
}

.dueDatePlaceholder {
  flex: 1;
}

.pastDueDate {
  background-color: #cf3636;
  color: #fff;
}

.doneDueDate {
  background-color: #63c05b;
  color: white;
}

.hidden {
  display: none;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}

.statusContainer span {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #767575;
  border-radius: 8px;
  background-color: #eeecec;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
